.card {
  font-family: "Quicksand", sans-serif;
  width: 11em;
  height: 12em;
  border: 4px solid black;
  background: grey;
  border-radius: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  font-size: 1em;
  padding: 8px;
  line-height: 1.25;
  margin: 8px 24px;

  .text {
    max-height: 100%;
    padding: 4px;
  }
}
