.game {
  height: 100vh;
}

.game-board {
  height: 100%;
}

.card-buttons {
  height: 100%;
}

.theme-card {
  position: absolute;
  left: 50%;
  cursor: pointer;
  transition: top 1s;

  transform: translate(-50%, -50%);
  z-index: 5;
}
