@import "../styles/_colors.scss";

.room-info {
  position: absolute;
  top: 32%;
  left: -13.5em;
  width: 8em;
  padding: 3em;

  border: 4px solid $border-colour;
  border-radius: 32px;
  background-color: $button-bg;

  transition: left 1s;
  cursor: pointer;

  .room-name {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.opened {
  left: 0px;
}
